/** custom.scss **/

/** Main colors **/
$primary: orange;
$secondary: #EAEAEA;
$tertiary: #5d5d5d;
$quaternary: white;

$theme-colors: (
        primary: $primary,
        secondary: $secondary,
        tertiary: $tertiary,
        quaternary: $quaternary
);

// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

/** OVERRIDES **/

/* Pagination links */
.page-link { position: relative; display: block; color: orange; text-decoration: none; background-color: $secondary; border: none; transition: none; }

/* Header */
.header { font-size: 1rem; text-decoration: none; color: #5e5e5e; outline: none; }

/* Non styled unordered-lists */
ul { text-decoration: none; }

/* Stuff for row */
.row { --bs-gutter-x: 0; }


/* Font Family */
$font-family-base: 'Rokkitt', serif, !default;

body { font-family: 'Rokkitt', serif; }

/** CUSTOM CLASSES **/

/* Hiding elements at different breakpoints */
@include media-breakpoint-down(sm) { .hide-element-sm { display:none; } }
@include media-breakpoint-down(md) { .hide-element-md { display:none; } }
@include media-breakpoint-down(lg) { .hide-element-lg { display:none; } }

/* Center elements */
@include media-breakpoint-down(xl) { .center-element-xl { text-align: center; } }


/* Justify text */

.text-justify { text-align: justify; }

// Custom.scss
// Option B: Include parts of Bootstrap

/*
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
*/